In [ ]:
This notebook contains:
01. Import libraries and data
02. Check data

Note: The source of this data is a spreadsheet of my own design where I combined each district's
population with its average annual rate of change between 2018 and 2020 (the years the rental data was collected).
The data came from the Federal Statistical Office of Germany.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create shortcut for data imports
path = r'C:\Users\jacym\Desktop\Career Foundry projects\german rent'

In [3]:
# district population data
df = pd.read_csv(os.path.join(path, '02 data', 'cleaned data', 'district_pop.csv'), index_col = False)

# 02. Check data

In [4]:
df.head()

                    regio2  districtPopTrend  districtPop
0                   Aachen              0.35       555465
1             Aachen_Kreis              0.35       555465
2          Ahrweiler_Kreis              0.18       129727
3  Aichach_Friedberg_Kreis              0.75       133596
4          Alb_Donau_Kreis              0.83       196047

In [5]:
df.shape

(400, 3)

In [6]:
df.dtypes
# make sure none of the number columns have "object" for data type

regio2               object
districtPopTrend    float64
districtPop           int64
dtype: object